<div class="content">
	<div class = "card bg-light mb-3">
		<div class = "card-header">
			<div class= "card-title">
				<h5 class="text-center">
					Matrix Size <span class="badge badge-secondary">{{matrixData.size}}</span>
				</h5>
			</div>
			<hr/>
			<input type = "range" class = "custom-range" min = "{{ matrixData.minSize }}" max = "{{ matrixData.maxSize }}" step = "1" [(ngModel)] = "matrixData.size" placeholder = "{{ matrixData.size }}" (input) = "ResizeMatrix(); ComputeDeterminant();"/>
		
		</div>
		
			<div class="card-header">
				<h5 class="card-title text-center">Matrix Values</h5>
			</div>
		<div class="card-body">
			<table class="table table-borderless">
				<tr *ngFor = "let r of Range(0, matrixData.size-1)">
					<td class="
						form-group 
						" 
						*ngFor = "let c of Range(0, matrixData.size-1)" >
						<input class = "form-control text-center" [(ngModel)] = "matrixData.matrix[r * matrixData.size + c]" (input) = "ComputeDeterminant()"/>
					</td>
				</tr>
			</table>
		</div>
		
		<div class="card-footer">
			<h5 class="card-title text-center">Determinant</h5>
			<hr/>
			<h4 class = "card-title text-center">{{ matrixData.determinant}}</h4>	
		</div>
	</div>
</div>