/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.content{
	margin:auto!important;
	padding:15px;
	max-width:600px;
	width:100%;
}